<?php

return [
    'db' => [
        'host' => 'host',
        'dbname' => 'dbname',
        'user' => 'user',
        'password' => 'password',
        'charset' => 'utf8mb4',
    ],
    'web_push' => [
        'subject' => 'mailto:your-email@example.com',
        'public_key' => 'ここにweb_pushのpublicKeyを貼り付け',
        'private_key' => 'ここにweb_pushのprivateKeyを貼り付け',
    ],
    'gemini' => [
        'api_key' => 'ここにGeminiのAPIキーを貼り付け',
    ],
];